In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import StandardScaler, MinMaxScaler

pd.set_option('display.max_columns', None)

print("Pandas version: ", pd.__version__)
print("Numpy version: ", np.__version__)
print("Scikit-learn version: ", sklearn.__version__)

Pandas version:  1.1.3
Numpy version:  1.19.2
Scikit-learn version:  0.23.2

In [25]:
index_name=["unit_number","cycles"]
operational_setting =["setting_1","setting_2","setting_3"]
sensor=["s_{}".format(i+1) for i in range(0,21)]

col_names = index_name + operational_setting + sensor





train_data = pd.read_csv(r"C:\Users\safsa\Desktop\MLE_project\Project\data\train_FD001.txt", sep = "\s+", header = None,index_col=False,names=col_names)
train_data.shape
#C:\\Users\\safsa\\Desktop\\MLE_project\\Project\\data

(20631, 26)

In [26]:
pwd

'C:\\Users\\safsa\\Desktop\\MLE_project\\Project\\data'

In [27]:
train_data.shape

(20631, 26)

In [28]:
train_data.head(20)

,unit_number,cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,s_10,s_11,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,2388.06,9046.19,1.3,47.47,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,2388.04,9044.07,1.3,47.49,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,2388.08,9052.94,1.3,47.27,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,2388.11,9049.48,1.3,47.13,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,2388.06,9055.15,1.3,47.28,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
5,1,6,-0.0043,-0.0001,100.0,518.67,642.10,1584.47,1398.37,14.62,21.61,554.67,2388.02,9049.68,1.3,47.16,521.68,2388.03,8132.85,8.4108,0.03,391,2388,100.0,38.98,23.3669
6,1,7,0.0010,0.0001,100.0,518.67,642.48,1592.32,1397.77,14.62,21.61,554.34,2388.02,9059.13,1.3,47.36,522.32,2388.03,8132.32,8.3974,0.03,392,2388,100.0,39.10,23.3774
7,1,8,-0.0034,0.0003,100.0,518.67,642.56,1582.96,1400.97,14.62,21.61,553.85,2388.00,9040.80,1.3,47.24,522.47,2388.03,8131.07,8.4076,0.03,391,2388,100.0,38.97,23.3106
8,1,9,0.0008,0.0001,100.0,518.67,642.12,1590.98,1394.80,14.62,21.61,553.69,2388.05,9046.46,1.3,47.29,521.79,2388.05,8125.69,8.3728,0.03,392,2388,100.0,39.05,23.4066
9,1,10,-0.0033,0.0001,100.0,518.67,641.71,1591.24,1400.46,14.62,21.61,553.59,2388.05,9051.70,1.3,47.03,521.79,2388.06,8129.38,8.4286,0.03,393,2388,100.0,38.95,23.4694
10,1,11,0.0018,-0.0003,100.0,518.67,642.28,1581.75,1400.64,14.62,21.61,554.54,2388.05,9049.61,1.3,47.15,521.40,2388.01,8140.58,8.4340,0.03,392,2388,100.0,38.94,23.4787
11,1,12,0.0016,0.0002,100.0,518.67,642.06,1583.41,1400.15,14.62,21.61,554.52,2388.09,9049.37,1.3,47.18,521.80,2388.02,8134.25,8.3938,0.03,391,2388,100.0,39.06,23.3660
12,1,13,-0.0019,0.0004,100.0,518.67,643.07,1582.19,1400.83,14.62,21.61,553.44,2388.12,9046.82,1.3,47.38,521.85,2388.08,8128.10,8.4152,0.03,393,2388,100.0,38.93,23.2757
13,1,14,0.0009,-0.0000,100.0,518.67,642.35,1592.95,1399.16,14.62,21.61,554.48,2388.09,9047.37,1.3,47.44,521.67,2388.00,8134.43,8.3964,0.03,393,2388,100.0,39.18,23.3826
14,1,15,-0.0018,-0.0003,100.0,518.67,642.43,1583.82,1402.13,14.62,21.61,553.64,2388.11,9052.22,1.3,47.30,522.50,2388.08,8127.56,8.4199,0.03,391,2388,100.0,38.99,23.3500
15,1,16,0.0006,0.0005,100.0,518.67,642.13,1587.98,1404.50,14.62,21.61,553.94,2388.05,9049.34,1.3,47.24,521.49,2388.07,8136.11,8.3936,0.03,392,2388,100.0,38.97,23.4550
16,1,17,0.0002,0.0002,100.0,518.67,642.58,1584.96,1399.95,14.62,21.61,553.80,2388.06,9054.92,1.3,47.12,521.89,2388.04,8137.27,8.4542,0.03,392,2388,100.0,38.81,23.3319
17,1,18,-0.0031,-0.0001,100.0,518.67,642.62,1591.04,1396.12,14.62,21.61,554.20,2388.05,9049.55,1.3,47.21,521.76,2388.07,8132.73,8.4028,0.03,392,2388,100.0,38.89,23.3987
18,1,19,0.0032,-0.0003,100.0,518.67,641.79,1587.56,1400.35,14.62,21.61,554.18,2388.04,9053.99,1.3,47.40,521.89,2388.03,8129.13,8.4321,0.03,391,2388,100.0,38.80,23.3464
19,1,20,-0.0037,0.0001,100.0,518.67,643.04,1581.11,1405.23,14.62,21.61,554.81,2388.05,9045.90,1.3,47.22,522.07,2388.02,8129.71,8.4210,0.03,392,2388,100.0,39.03,23.4220

In [35]:
np.unique(train_data["unit_number"])

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100], dtype=int64)

In [37]:
num_cycles_to_failure = train_data.groupby("unit_number")["cycles"].count()
num_cycles_to_failure.values

array([192, 287, 179, 189, 269, 188, 259, 150, 201, 222, 240, 170, 163,
       180, 207, 209, 276, 195, 158, 234, 195, 202, 168, 147, 230, 199,
       156, 165, 163, 194, 234, 191, 200, 195, 181, 158, 170, 194, 128,
       188, 216, 196, 207, 192, 158, 256, 214, 231, 215, 198, 213, 213,
       195, 257, 193, 275, 137, 147, 231, 172, 185, 180, 174, 283, 153,
       202, 313, 199, 362, 137, 208, 213, 213, 166, 229, 210, 154, 231,
       199, 185, 240, 214, 293, 267, 188, 278, 178, 213, 217, 154, 135,
       341, 155, 258, 283, 336, 202, 156, 185, 200], dtype=int64)

In [39]:
train_data.loc[:,'s_1':].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
s_1,20631.0,518.670000,6.537152e-11,518.6700,518.6700,518.6700,518.6700,518.6700
s_2,20631.0,642.680934,5.000533e-01,641.2100,642.3250,642.6400,643.0000,644.5300
s_3,20631.0,1590.523119,6.131150e+00,1571.0400,1586.2600,1590.1000,1594.3800,1616.9100
s_4,20631.0,1408.933782,9.000605e+00,1382.2500,1402.3600,1408.0400,1414.5550,1441.4900
s_5,20631.0,14.620000,3.394700e-12,14.6200,14.6200,14.6200,14.6200,14.6200
s_6,20631.0,21.609803,1.388985e-03,21.6000,21.6100,21.6100,21.6100,21.6100
s_7,20631.0,553.367711,8.850923e-01,549.8500,552.8100,553.4400,554.0100,556.0600
s_8,20631.0,2388.096652,7.098548e-02,2387.9000,2388.0500,2388.0900,2388.1400,2388.5600
s_9,20631.0,9065.242941,2.208288e+01,9021.7300,9053.1000,9060.6600,9069.4200,9244.5900
s_10,20631.0,1.300000,4.660829e-13,1.3000,1.3000,1.3000,1.3000,1.3000
s_11,20631.0,47.541168,2.670874e-01,46.8500,47.3500,47.5100,47.7000,48.5300
s_12,20631.0,521.413470,7.375534e-01,518.6900,520.9600,521.4800,521.9500,523.3800
s_13,20631.0,2388.096152,7.191892e-02,2387.8800,2388.0400,2388.0900,2388.1400,2388.5600
s_14,20631.0,8143.752722,1.907618e+01,8099.9400,8133.2450,8140.5400,8148.3100,8293.7200
s_15,20631.0,8.442146,3.750504e-02,8.3249,8.4149,8.4389,8.4656,8.5848
s_16,20631.0,0.030000,1.556432e-14,0.0300,0.0300,0.0300,0.0300,0.0300
s_17,20631.0,393.210654,1.548763e+00,388.0000,392.0000,393.0000,394.0000,400.0000
s_18,20631.0,2388.000000,0.000000e+00,2388.0000,2388.0000,2388.0000,2388.0000,2388.0000
s_19,20631.0,100.000000,0.000000e+00,100.0000,100.0000,100.0000,100.0000,100.0000
s_20,20631.0,38.816271,1.807464e-01,38.1400,38.7000,38.8300,38.9500,39.4300
s_21,20631.0,23.289705,1.082509e-01,22.8942,23.2218,23.2979,23.3668,23.6184

In [50]:
def add_remaining_useful_life(df):
    grouped_by_unit = df.groupby(by='unit_number') 
    max_cycle = grouped_by_unit['cycles'].max() 
    result_frame = df.merge(max_cycle.to_frame(name='max_cycle'), 
                            left_on='unit_number',
                            right_index=True)
    # Calculate remaining useful life for each row 
    remaining_useful_life = result_frame["max_cycle"] - result_frame['cycles']
    result_frame["RUL"] = remaining_useful_life 
    # drop max_cycle as it's no longer needed 
    result_frame = result_frame.drop("max_cycle", axis=1) 
    return result_frame
                            
train_data = add_remaining_useful_life(train_data)

In [51]:
train_data = add_remaining_useful_life(train_data)

In [52]:
train_data.head()

,unit_number,cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,s_10,s_11,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,2388.06,9046.19,1.3,47.47,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,2388.04,9044.07,1.3,47.49,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,2388.08,9052.94,1.3,47.27,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,2388.11,9049.48,1.3,47.13,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,2388.06,9055.15,1.3,47.28,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187

In [54]:
max_ruls = train_data.groupby('unit_number').max().reset_index()
max_ruls.head()

,unit_number,cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,s_10,s_11,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,RUL
0,1,192,0.0047,0.0005,100.0,518.67,644.21,1605.44,1432.52,14.62,21.61,554.96,2388.32,9061.21,1.3,48.33,522.86,2388.35,8140.58,8.5227,0.03,398,2388,100.0,39.18,23.4999,191
1,2,287,0.0076,0.0006,100.0,518.67,643.94,1610.10,1431.17,14.62,21.61,555.45,2388.24,9109.36,1.3,48.27,523.26,2388.26,8175.57,8.5377,0.03,398,2388,100.0,39.24,23.6005,286
2,3,179,0.0058,0.0005,100.0,518.67,643.93,1606.50,1438.51,14.62,21.61,555.28,2388.19,9197.52,1.3,48.38,523.18,2388.20,8255.34,8.5363,0.03,399,2388,100.0,39.23,23.5181,178
3,4,189,0.0059,0.0006,100.0,518.67,644.53,1612.11,1434.12,14.62,21.61,554.75,2388.18,9203.22,1.3,48.21,522.48,2388.17,8259.42,8.5462,0.03,399,2388,100.0,39.21,23.5074,188
4,5,269,0.0055,0.0005,100.0,518.67,644.02,1609.41,1434.59,14.62,21.61,555.57,2388.21,9157.05,1.3,48.27,523.04,2388.23,8215.19,8.5410,0.03,398,2388,100.0,39.29,23.5503,268